// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

/* Variable Overrides */

$primary: #140b40;
$secondary: #ededed;
$body-color: #222529;

$font-family-base: "Open Sans", sans-serif;
$headings-font-family: "Cormorant", serif;
$headings-font-weight: 700;
$headings-color: $primary;
$h2-font-size: clamp(1.5rem, 0.7777rem + 3.0817vw, 2.75rem);
// $headings-color: $clr-text-title;
