/* ========== */
/* Custom Styles */
/* ========== */

/* Header */

.shop-menus {
  li i {
    font-size: 1.5rem;
  }
}

.nav-link {
  font-family: "Cormorant", serif;
  font-size: 1.25rem;
  font-weight: 500;
}

.cart-count {
  top: -1.1rem;
  left: 1rem;
  background: $primary;
  color: $white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 600;
  width: 20px;
  height: 20px;
}

/* Remove View Cart Link */
a.added_to_cart.wc-forward {
  display: none;
}

// --Review Section-- //
.ti-footer {
  display: none;
}
.ti-reviews-container {
  padding-bottom: 5px;
}
.container {
  border-radius: 1rem 1rem 1rem 1rem;
}
.ti-widget.ti-goog .ti-controls .ti-next:before,
.ti-widget.ti-goog .ti-controls .ti-prev::before {
  content: "";
  background: rgb(12, 12, 37) !important;
  width: 17px;
  height: 3px;
  display: block;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 2px;
  position: absolute;
}

.ti-widget.ti-goog .ti-controls .ti-next:after,
.ti-widget.ti-goog .ti-controls .ti-prev::after {
  content: "";
  background: rgb(12, 12, 37) !important;
  width: 17px;
  height: 3px;
  display: block;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-radius: 2px;
  position: absolute;
}

// contact section //

// feedback submit button
.wpforms-submit {
  color: $secondary !important;
  background-color: $primary !important;
  font-weight: 700 !important;
  font-style: normal;
  width: 100% !important;
  justify-content: center;
}
.wpforms-submit:hover {
  background-color: $secondary !important;
  color: $primary !important;
}

// feedback field columns section
#wpforms-150-field_0,
#wpforms-150-field_1,
#wpforms-150-field_2 {
  border: 2px solid $secondary;
}

#wpforms-150-field_0:hover {
  border: 2px solid $primary;
}

#wpforms-150-field_1:hover {
  border: 2px solid $primary;
}
#wpforms-150-field_2:hover {
  border: 2px solid $primary;
}

// feedback label section
#wpforms-150-field_0-container .wpforms-field-label,
#wpforms-150-field_1-container .wpforms-field-label,
#wpforms-150-field_2-container .wpforms-field-label {
  color: $primary;
  font-weight: 700;
  font-style: normal;
}

// feedback container
.feedback {
  border: 1px solid $primary;
  border-radius: 1rem 1rem 1rem 1rem;
}
.map-area {
  display: flex !important;
  padding: 0 !important;
  height: fit-content;
}
.main {
  display: flex;
  align-items: center;
}









// Cart Section

.woocommerce table.shop_table td{
  border: none;
}

td{
  color:$primary !important;
}
tr{
  border-top: 1px solid $primary;
}

tr td a{
  text-decoration: none;
}
tr td a:hover{
  color: gray;
  }

.woocommerce-page #content table.cart img{
  width: 150px !important;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
}

.woocommerce table.shop_table{
  border-collapse: collapse;
}
.woocommerce table.shop_table_responsive tr,
.woocommerce-page table.shop_table_responsive tr
  {
    width: 100%;
  }

.product-thumbnail img{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
}

.woocommerce a.remove{
  margin-top: 10px;
  color:$primary !important;
  background-color: $secondary !important;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
}
.woocommerce a.remove:hover{
    color:$secondary !important;
    background-color: $primary !important;
}

.quantity{
  display: flex;
  justify-content: center;
}
.woocommerce a.button.alt{
  text-align: center;
  color:$primary !important;
  background-color: $secondary !important;
 }
.woocommerce a.button.alt:hover{
     color:$secondary !important;
     background-color: $primary !important;
 }

.cart-collaterals{
   color: $primary !important;
 }
 .woocommerce table.shop_table{
  border: none !important;
 }
 .woocommerce table.shop_table_responsive tbody th,
  .woocommerce-page table.shop_table_responsive tbody th{
  display: flex;
  flex-direction:row;
 }
 .woocommerce #content table.cart .product-thumbnail,
  .woocommerce table.cart .product-thumbnail, 
  .woocommerce-page #content table.cart .product-thumbnail, 
  .woocommerce-page table.cart .product-thumbnail{
   display: flex;
   justify-content: center;
 }
 .woocommerce table.shop_table_responsive tr td::before,
  .woocommerce-page table.shop_table_responsive tr td::before{
   content:"";
 }
 .woocommerce table.shop_table_responsive tr td,
  .woocommerce-page table.shop_table_responsive tr td{
   text-align: center !important;
 }
 .woocommerce .cart-collaterals .cart_totals,
  .woocommerce-page .cart-collaterals .cart_totals{
    float: none !important;
    width:auto ;
  }
.woocommerce table.shop_table_responsive tr:nth-child(2n) td,
  .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td{
    background-color: white !important;
}
#add_payment_method .cart-collaterals .cart_totals table th, 
.woocommerce-cart .cart-collaterals .cart_totals table th,
.woocommerce-checkout .cart-collaterals .cart_totals table th{
  width: 100%;
}

.entry-title{
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .cart-items-column,
  .cart-info {
      width: 100%;
  }
}

@media screen and (max-width: 375px){
  .woocommerce table.shop_table td{
    padding: 0;
  }
  td{
    font-size: medium;
  }
}




// ---- menu-mains---- //

.woocommerce-loop-product__title{
  width: 170px;
  letter-spacing:-0.05em;
  white-space:nowrap ;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.attachment-woocommerce_thumbnail{
  width: 150px ;
}

.woocommerce ul.products li.product a img{
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
}
.woocommerce ul.products li.product .woocommerce-loop-product__title,
 .woocommerce ul.products li.product h3{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.35;
    padding: 0px;
 }

.woocommerce div.product span.price, .woocommerce ul.products li.product .price{
  font-weight:bold;
  color: $primary !important;
}
.woocommerce ul.products li.product a{
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content:center;
  align-items: center;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}
.woocommerce ul.products li.product a:hover{
  transform: scale(1.1);
}
.add-to-cart-container{
  display: flex;
  justify-content: center;
}

.woocommerce div.product p.price, .woocommerce div.product .stock{
  color: $primary !important;
}


// ----------------categories
.wc-block-product-categories-list-item ::marker{
  content:"";
}
 ul li a{
  text-decoration: none;
 }

 
// 
